version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: postgres
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  server:
    build: ./server
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: admin123
      DB_NAME: postgres
    ports:
      - "3000:3000"
    depends_on:
      - db
