version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: monitor_postgres
    environment:
      POSTGRES_USER: shopuser
      POSTGRES_PASSWORD: shoppass
      POSTGRES_DB: shopdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - shop_network

  backend:
    build: ./backend
    container_name: monitor_backend
    ports:
      - "3002:3001"
    environment:
      DB_HOST: postgres
      DB_USER: shopuser
      DB_PASSWORD: shoppass
      DB_NAME: shopdb
      DB_PORT: 5432
    depends_on:
      - postgres
    networks:
      - shop_network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: monitor_frontend
    ports:
      - "3100:3000"
    environment:
      - REACT_APP_WS_URL=ws://localhost:3002
    depends_on:
      - backend
    networks:
      - shop_network
    volumes:
      - ./frontend:/app
      - /app/node_modules

  pgadmin:
    image: dpage/pgadmin4
    container_name: monitor_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@shop.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - shop_network

networks:
  shop_network:
    driver: bridge

volumes:
  postgres_data: