version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ws-backend
    ports:
      - "8000:8000"
  
  frontend:
    build: ./frontend
    container_name: ws-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
